.next_page{
    /* text-align: right; */
    margin-left: auto;
    text-decoration:none;
    color: #24292f;
}

.back_page{
    /* text-align: right; */
    margin-left: auto;
    text-decoration:none;
    color: #24292f;
}