.ContentsCard{
    text-align: left;
    flex-direction: row;
    margin: 2rem auto;
    border-radius: 0.1rem;
    background-color: rgb(255, 249, 249);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    max-width: 500px;
}
.contents{
    text-decoration:none;
    color: #000000;
}
.contents_img{
    width: 100%;
}
.contents_title{
    margin: 0;
}

.contents_data{
    margin: 0.5rem 1rem;
}

@media screen and (max-width: 500px) {
    .ContentsCard{
        margin: 1rem auto;
    }
  }